
.top-bar, li, #nav-right{
    background-color: #212529;
    
}

.topbar-responsive .menu a {
    color: #a2a4a7;
    transition: color 0.15s ease-in;
}

.fondo{
    background-image:linear-gradient(rgba(0,0,0, 0.7), #1e2326), url(../resources/Background-motor.jpg);
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.banner-container-subtitle{
    padding-top: 9%;
}
.banner-container-button{
    padding-top: 1%;
}

#headline-off{
    padding-top: 5%;
}
.alert{
    color: #cc4b37;
}
/* footer estilo */

.footer {
    padding: 1rem;
    margin-top: 30%;
    border:#1e2326 10px;
    
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer span{
    color:rgb(158, 158, 158);
    font-weight: bolder;
}

/* este es el codigo css de categories */

.card {
    width: 105%;
    border-radius: 2%;
    border-style: solid;
    border: 1%;
    border-color: rgb(220,53,69);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

.card img{
    margin: 10%;
}

.categories-title {
    padding: 5%;
    
}

.card h5{
    color: rgb(220,53,69);
}

/* este es el codigo css de categories y aplica para las otras clases de categorias */


#button-Agregar {
    margin-left: 33%; /* Agrega margen a la derecha del botón */
  }

.button-group a{
    border-radius: 10%;
}