
.top-bar, li, #nav-right{
    background-color: #212529;
    
}

.topbar-responsive .menu a {
    color: #a2a4a7;
    transition: color 0.15s ease-in;
}

.fondo{
    background-image:linear-gradient(rgba(0,0,0, 0.7), #1e2326), url(../resources/Background-motor.jpg);
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.banner-container-subtitle{
    padding-top: 9%;
}
.banner-container-button{
    padding-top: 1%;
}
#headline-off{
    padding-top: 5%;
    padding-bottom: 3%;
}
.alert{
    color: #cc4b37;
}
/* footer estilo */

.footer span{
    color:rgb(158, 158, 158);
    font-weight: bolder;
}

.text-oferts{
    color:#cc4b37;
}
hr{
    padding-top: 3%;
}

.footer {
    padding: 1rem;
    margin-top: 15%;
    border:#1e2326 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* este es el codigo css de categories */

.card-categories {
    width: 105%;
    border-radius: 2%;
    border-style: solid;
    border: 1%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
}

.card-products {
    width: 105%;
    box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}


.categories-title {
    padding: 5%;
    
}

/* este es el codigo css de categories y aplica para las otras clases de categorias */


#button-Agregar {
    margin-left: 33%; /* Agrega margen a la derecha del botón */
}

.button-group a{
    border-radius: 10%;
}

#container {
    display: flex;
    justify-content: flex-start; /* posiciona la nueva tarjeta al comienzo */
}

.title-categories {
    color: #cc4b37;
}

/* Contact CSS */

.mail-cell {
    margin-bottom: 1.25rem; /* Ajusta el valor según sea necesario */
}
.contacto {
    color: #cc4b37;
}

/* codigo de sobreNosotros*/

#title-sobrenosotros {
    padding: 10%;
}